# Git

.pre-commit-config.yaml

# Cabal

dist-newstyle/

# VSCode

.vscode/

# Output

*.plutus
*.json

# Env

.direnv

# Imported Modules

Hexxagon-Game-Atlas/
Common/
Benchmark/
Testing/

# Others

ToDo.txt